<div class="container-fluid px-0 slideshow">
    <div class="row g-0">
        <div class="col-12 col-md-12 col-lg-12">
            <img [src]="currentImage" alt="slide image" class="img-fluid w-100 slideshow-image">
        </div>
    </div>
</div>

<h3 class="text-center mt-3 small">Why use ExploreJordan?</h3>
<div class="d-flex justify-content-center">
        <div class="text-center">
            <img [src]="cancelImg" alt="Free Cancellation" class="mg">
            <p>Free Cancellation</p>
        </div>
        <div class="text-center image-item">
            <img [src]="custom_packageImg" alt="Custom Packages" class="mg">
            <p>Custom Packages</p>
        </div>
        <div class="text-center">
            <img [src]="loyalty_programImg" alt="Loyalty Program" class="mg">
            <p>Loyalty Program</p>
        </div>
</div>
<hr>

<h2 class="text-center">Popular Destinations</h2>

<div class="d-flex justify-content-center flex-wrap popular-destinations">
    <a class="destination-item">
        <img src="assets/Amman.png" alt="Amman">
    </a>
    <a class="destination-item">
        <img src="assets/deadsea.png" alt="Dead Sea">
    </a>
    <a class="destination-item">
        <img src="assets/ajloun.png" alt="Ajloun">
    </a>
    <a class="destination-item">
        <img src="assets/madaba.png" alt="Madaba">
    </a>
    <a class="destination-item">
        <img src="assets/aqaba.png" alt="Aqaba">
    </a>
    <a class="destination-item">
        <img src="assets/jerash.png" alt="Jerash">
    </a>
    <a class="destination-item">
        <img src="assets/rum.png" alt="Wadi Rum">
    </a>
    <a class="destination-item">
        <img src="assets/petra.png" alt="Petra">
    </a>
</div>