<div class="container-fluid px-0 slideshow">
    <div class="row g-0">
        <div class="col-12 col-md-12 col-lg-12">
            <img [src]="currentImage" alt="slide image" class="img-fluid w-100 slideshow-image">
        </div>
    </div>
</div>

<h3 class="text-center mt-3 small">Why use ExploreJordan?</h3>
<div class="d-flex justify-content-center">
        <div class="text-center">
            <img [src]="cancelImg" alt="Free Cancellation" class="mg">
            <p>Free Cancellation</p>
        </div>
        <div class="text-center image-item">
            <img [src]="custom_packageImg" alt="Custom Packages" class="mg">
            <p>Custom Packages</p>
        </div>
        <div class="text-center">
            <img [src]="loyalty_programImg" alt="Loyalty Program" class="mg">
            <p>Loyalty Program</p>
        </div>
</div>
<hr>