<div class="header">
    <div class="container-fluid px-0 slideshow">
        <div class="row g-0">
            <div class="col-12 col-md-12 col-lg-12">
                <img [src]="currentImage" alt="slide image" class="img-fluid w-100 slideshow-image">
            </div>
        </div>
    </div>
    
    <h3 class="text-center mt-3 small">Why use ExploreJordan?</h3>
    <div class="d-flex justify-content-center">
            <div class="text-center">
                <img [src]="cancelImg" alt="Free Cancellation" class="mg">
                <p>Free Cancellation</p>
            </div>
            <div class="text-center image-item">
                <img [src]="custom_packageImg" alt="Custom Packages" class="mg">
                <p>Custom Packages</p>
            </div>
            <div class="text-center">
                <img [src]="loyalty_programImg" alt="Loyalty Program" class="mg">
                <p>Loyalty Program</p>
            </div>
    </div>
    <hr>
    
    <h2 class="text-center">Popular Destinations</h2>
    
    <div class="d-flex justify-content-center flex-wrap popular-destinations">
        <a class="destination-item">
            <img src="assets/Amman.png" alt="Amman">
        </a>
        <a class="destination-item">
            <img src="assets/deadsea.png" alt="Dead Sea">
        </a>
        <a class="destination-item">
            <img src="assets/ajloun.png" alt="Ajloun">
        </a>
        <a class="destination-item">
            <img src="assets/madaba.png" alt="Madaba">
        </a>
        <a class="destination-item">
            <img src="assets/aqaba.png" alt="Aqaba">
        </a>
        <a class="destination-item">
            <img src="assets/jerash.png" alt="Jerash">
        </a>
        <a class="destination-item">
            <img src="assets/rum.png" alt="Wadi Rum">
        </a>
        <a class="destination-item">
            <img src="assets/petra.png" alt="Petra">
        </a>
    </div>
    
    <div class="cancellation-text">
        <h2 class="text-center">Free Cancellation</h2>
        <p>You'll receive a full refund if you cancel at least 24 hours in advance of most experiences.</p>
    </div>
    
    <div class="blog-section container-fluid mt-4">
        <h2 class="text-center">FROM THE BLOG</h2>
        <div class="line"></div>
        <p class="text-center mb-4">On our blog you'll get a chance to learn a bit more about our users' experiences and tips, and you'll get a chance to meet the local guides, as they pop in frequently to offer travel tips for their cities and towns.</p>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="blog-post">
                    <a [routerLink]="['/blog-post', 1]">
                        <img [src]="blogService.blogImg1" alt="Image 1" class="img-fluid">
                    </a>
                    <h3>8 day trip</h3>
                    <p class="date">May 28, 2023</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="blog-post">
                    <a [routerLink]="['/blog-post', 2]">
                        <img [src]="blogService.blogImg2" alt="Image 2" class="img-fluid">
                    </a>
                    <h3>Hiking the Jordan Trail changed my life</h3>
                    <p class="date">April 22, 2022</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="blog-post">
                    <a [routerLink]="['/blog-post', 3]">
                        <img [src]="blogService.blogImg3" alt="Image 3" class="img-fluid">
                    </a>
                    <h3>As Salt, Jordan listed on UNESCO heritage list</h3>
                    <p class="date">15 August, 2022</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a routerLink="/blog" class="btn button">View all blog posts</a>
        </div>
    </div>
</div>