<main>
    <div class="banner">
        <img src="assets/banner.png" alt="Banner Image">
    </div>
    
    <section class="contact-section text-center">
        <h2 class="text-center">Contact Us</h2>
        <p class="text-center">Feel free to reach out to us for any inquiries or assistance.</p>
    </section>
    
    <div class="contact-container d-flex justify-content-between">
        <div class="contact-box">
            <p>Phone: +123 456 789</p>
            <p>Email: info&#64;explorejordan.com</p>
        </div>

        <div class="contact-box">
            <div class="support-content">
                <p>Customer support</p>
                <button class="support-button">
                    <a href="" style="text-decoration: none; color: white;">Contact Us</a>
                </button>
            </div>
        </div>
    </div>
</main>
