p {
    z-index: 1px;
}
.about-us-content {
    margin: 130px auto 0 auto;
    overflow: hidden;
    height: 890px;
}

.about-us-img {
    width: 100%;
    overflow: hidden;
}

.about-us-img img {
    width: 100%;
    height: auto;
    display: block;
}
.container {
    display: flex;
    z-index: 1000;
    position: relative;
    margin-bottom: 100px; 
}
.section {
    margin: 20px;
    font-family: 'Brush Script MT', cursive;
}
