<body>
    <div class="about-us-content">
        <div class="about-us-img">
            <img src="assets/aboutus.jpg" alt="amman">
        </div>
        <div class="container">
            <div class="section">
                <h2>Our Story</h2>
                <p>Welcome to ExploreJordan, where we're dedicated to bringing the beauty and wonders of Jordan to the world. Founded with a passion for showcasing the rich cultural heritage, breathtaking landscapes, and unique experiences, our platform is designed to provide a seamless journey for travelers and service providers.</p>
            </div>

            <div class="section">
                <h2>Our Mission</h2>
                <p>At ExploreJordan, our mission is to revolutionize the tourism industry in Jordan. We strive to create a comprehensive and user-friendly platform that encourages tourism, fosters seamless travel experiences, and supports local service providers.</p>
            </div>

            <div class="section">
                <h2>Why Choose ExploreJordan?</h2>
                <p>We offer a diverse marketplace for travel agencies, hotels, restaurants, and local vendors to showcase their offerings. Our user-friendly interface allows you to create a profile, track your preferences, participate in a loyalty program, and provide valuable feedback.</p>
            </div>
        </div>
    </div>
</body>