<nav class="navbar navbar-expand">
   <div class="container-fluid px-0">
      <ul class="navbar-nav w-100">
         <li class="nav-item flex-fill box"><a class="nav-link text-center" routerLink="/categories/accommodation">Accommodation</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center" routerLink="/categories/tours">Tours</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center" routerLink="/categories/activities">Activities</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center" routerLink="/categories/car-rentals">Car Rentals</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center" routerLink="/categories/souvenirs">Souvenirs</a></li>
     </ul>
    </div>
</nav>