<nav class="navbar navbar-expand">
   <div class="container-fluid px-0">
      <ul class="navbar-nav w-100">
         <li class="nav-item flex-fill box"><a class="nav-link text-center " routerLink="/categories">Accommodation</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center " routerLink="/categories">Tours</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center " routerLink="/categories">Activities</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center " routerLink="/categories">Car Rentals</a></li>
         <li class="nav-item flex-fill box"><a class="nav-link text-center " routerLink="/categories"ng >Souvenirs</a></li>
     </ul>
   </div>
</nav>

