
main{
    margin: 150px auto 20px;;
}

.blog-post {
    max-width: 800px;
    margin: 120px auto 20px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    
}

.blog-post h2 {
    margin-bottom: 20px; 
}

.blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
.article-date {
    font-size: 0.8em;
    color: #777;
    margin-bottom: 5px;
}
.article-content {
    font-size: 0.8em;
    color: #777;
}
