app-component{
    font-family: Arial, sans-serif;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 1100;
    top: 0;
    background-color: white;
    height: 80px;
}
app-body {
    display: block;
    padding-top: 120px; 
}
