<div class="blog-section">
    <div class="blog-header">
        <h2>ExploreJordan Blog</h2>
        <p>Sharing our travel expertise, local knowledge, and industry insights.</p>
    </div>

    <div class="d-flex">
        <div *ngFor="let post of blogPosts" class="blog-post">
            <img [src]="post.imgSrc" [alt]="post.title">
            <div class="blog-details">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
                <p class="date">Published on: {{ post.publishDate }}</p>
                <a [routerLink]="['/blog-post', post.id]">Read more</a>
            </div>
        </div>
    </div>

    <div class="email-info">
        <p>Send your articles: <a href="mailto:blog&#64;explorejordan.com">blog&#64;explorejordan.com</a></p>
    </div>
</div>
